/* =========================================================
   RESET / BASE
   ========================================================= */

body::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0 20px;
  background-color: #000;
  scroll-behavior: smooth;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

/* =========================================================
   CONTENT
   ========================================================= */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  font-size: 8.5vh;
  margin: 25px 0;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: rgb(58, 14, 99);
}
