/* =========================================================
   RESET / BASE
   ========================================================= */

body::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0 20px;
  background-color: #ffffff;
  scroll-behavior: smooth;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

/* =========================================================
   CONTENT
   ========================================================= */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile {
  width: 55%;
  height: 400px;
  display: flex;
  align-items: center;
  border: 4px solid #000000;
  z-index: 5;
}

.image-profile {
  height: 100%;
}

.description {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3vh;
  color: rgb(0, 0, 0);
}

.image-profile img {
  max-height: 100%;
  width: auto;
}

li::marker {
  content: "✦ ";
  color: rgb(110, 108, 110);
}

.link {
  font-size: 8.5vh;
  margin: 25px 0;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: rgb(58, 14, 99);
}
